{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Saving Goal</title>
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
</head>
<body>

    <!-- Navbar Section -->
    {% include 'finances/navbar.html' %}

    <div class="dashboard-container">
        <div class="content"> 
            <h2>SET Saving Goal</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Set Goal</button>
            </form>
            
        </div>
       
    </div>
   

</body>
</html>
